@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown{
    display: none;
}
.dropbtn{
    display: none;
  
}
li:hover .dropbtn{
    display: grid;
    

}
.show{
    display: block;
}
